@{
    ViewBag.Title = "Email Confirmation";
}

@Html.Partial("_LoginPartial")

<div class="content-center">
    <section id="registerForm">
        <div>
            <p>
                Thank you for confirming your email address.  You can use your email address and password to login by following the link provided below.
            </p>
            <p>
                @Html.ActionLink("Click here to Log In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
            <p>
                Your basic account allows you to participate on the site, by following existing Chances, as well as recording some basic preferences related to what types of Chances you are most interested in viewing.
            </p>
            <p>
                If you are (or represent) a Service Provider (e.g. a 501c3 Rescue Organization, Veterinarian, Behaviorist, Trainer, etc.) and would like to 
                to register to create Chances and receive donations and payments, follow @Html.ActionLink("this link", "RegisterAgent", "Account", routeValues: null, htmlAttributes: new { id = "registerAgentLink" }) 
                to enter additional information to your profile, and begin the Service Provider verification process. 
            </p>
            <p>
                For more information, please see <a href="/HowItWorks">How It Works</a>.
            </p>
        </div>
    </section>
</div>
