@{
    ViewBag.Title = "Forgot Password Confirmation";
}
@Html.Partial("_LoginPartial")
<div class="content-center">
    <section id="registerForm">
        <div>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </section>
</div>

