<div id="main" class="fade"></div>

<script type="text/javascript">
            $(document).ready(function () {
                var templateUrl = '/ng/areas/details/details.html',
                    controller = 'sc.Details';
                var $items = $('#main');
                var ngItems = angular.element('<div id="detail" ng-controller="' + controller + '" ng-include="\'' + templateUrl + '\'"></div>');

                $items.append(ngItems);

                var scope = ngItems.scope();
                var $compile = ngItems.injector().get('$compile');
                var compiled = $compile(ngItems);

                compiled(scope);
                scope.$apply();
            });
</script>
