@import url("http://fonts.googleapis.com/css?family=Coustard");
@import url(font-awesome.min.css);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Coustard', sans-serif;
    vertical-align: baseline;
}

body, .bg {
    background: #121760;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left top, right top, from(#000), to(#121760));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, #000, #121760);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #000, #121760);

    /* IE 10 */
    background: -ms-linear-gradient(left, #000, #121760);

    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #000, #121760);
}

*, *:before, *:after
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col"] {
    width: 50%;
}

[class*="row"] {
    width: 384px;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col1m {width: 8.33%;}
    .col2m {width: 16.66%;}
    .col3m {width: 25%;}
    .col4m {width: 33.33%;}
    .col5m {width: 41.66%;}
    .col6m {width: 50%;}
    .col7m {width: 58.33%;}
    .col8m {width: 66.66%;}
    .col9m {width: 75%;}
    .col10m {width: 83.33%;}
    .col11m {width: 91.66%;}
    .col12m {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col1 {width: 8.33%;}
    .col2 {width: 16.66%;}
    .col3 {width: 25%;}
    .col4 {width: 33.33%;}
    .col5 {width: 41.66%;}
    .col6 {width: 50%;}
    .col7 {width: 58.33%;}
    .col8 {width: 66.66%;}
    .col9 {width: 75%;}
    .col10 {width: 83.33%;}
    .col11 {width: 91.66%;}
    .col12 {width: 100%;}
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .row1m  {height: 64px;}
    .row2m  {height: 128px;}
    .row3m  {height: 192px;}
    .row4m  {height: 256px;}
    .row5m  {height: 320px;}
    .row6m  {height: 384px;}
    .row7m  {height: 448px;}
    .row8m  {height: 512px;}
    .row9m  {height: 576px;}
    .row10m {height: 640px;}
    .row11m {height: 704px;}
    .row12m {height: 768px;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .row1   {height: 64px;}
    .row2   {height: 128px;}
    .row3   {height: 192px;}
    .row4   {height: 256px;}
    .row5   {height: 320px;}
    .row6   {height: 384px;}
    .row7   {height: 448px;}
    .row8   {height: 512px;}
    .row9   {height: 576px;}
    .row10  {height: 640px;}
    .row11  {height: 704px;}
    .row12  {height: 768px;}
}

@media screen and (max-width: 480px)
{
    html, body
    {
        min-width: 320px;
    }
}

html
{
    font-size: 16pt;
}

@media screen and (max-width: 1680px)
{

    html
    {
        font-size: 12pt;
    }
}

@media screen and (max-width: 1280px)
{

    html
    {
        font-size: 11pt;
    }
}

.notrans {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
    display: block;
}

.ng-scope{
    width: 100%;
}

#thumbnails .wrapper .closeButton
{
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    top: 0;
    width: 4em;
    height: 4em;
    background-image: url("images/close.svg");
    background-repeat: no-repeat;
    background-size: 64px 64px;
    cursor: pointer;
    z-index: 1;
    right: 0;
    background-position: calc(100% - 0.75em) 0.75em;
}

.hidden
{
    visibility:hidden;
}

#thumbnails
{
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

#thumbnails .wrapper
{
    position: absolute;
    padding: 2px;

    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    transition: all 0.75s ease;

    overflow-y: auto;
}

.clearfix
{
    float: left;
    width: 100%;
    clear: both;
}

#thumbnails .wrapper.active
{
    padding: 0px;
}

#thumbnails .wrapper:hover
{
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    transition: all 0.75s ease;
}


#thumbnails .wrapper article
{
    position: relative;
    width: 100%;
    height: 100%;
}


#thumbnails .wrapper article .thumbnail
{
    display: block;
    width: 100%;
    border: 1px solid #8F93C9;
    position: relative;
    opacity: 1;
    top: 0;
    left: 0;

    -webkit-filter: sepia(75%);
    -moz-filter: sepia(75%);
    filter: sepia(75%);

    -moz-transition: opacity 1.25s ease;
    -webkit-transition: opacity 1.25s ease;
    -ms-transition: opacity 1.25s ease;
    transition: opacity 1.25s ease;
}


#thumbnails .wrapper article .thumbnail:before
{
    /* overlay an inset box shadow on the image to give it some depth */
    -webkit-box-shadow: inset 16px 21px 59px 7px rgba(234,114,38,1);
    -moz-box-shadow: inset 16px 21px 59px 7px rgba(234,114,38,1);
    box-shadow: inset 16px 21px 59px 7px rgba(234,114,38,1);
    -moz-transition: opacity 0.75s ease;
    -webkit-transition: opacity 0.75s ease;
    -ms-transition: opacity 0.75s ease;
    transition: opacity 0.75s ease;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.0;
    z-index: 1;
}

#thumbnails .wrapper article.active,
#thumbnails .wrapper article.active:hover,
#thumbnails .wrapper article.active:focus,
#thumbnails .wrapper article .thumbnail:hover,
#thumbnails .wrapper article .thumbnail.active
{
    -webkit-filter: sepia(0%);
    -moz-filter: sepia(0%);
    filter: sepia(0%);
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    transition: all 0.75s ease;
}


#thumbnails .wrapper article .thumbnail:focus:before,
#thumbnails .wrapper article .thumbnail:hover:before,
#thumbnails .wrapper article.active .thumbnail:before
{
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    transition: all 0.75s ease;
    opacity: 0.0;
}

