<div id="hero" class="tab">
    <div class="hero-background" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Boxer_puppy_fawn_portrai.jpg/1920px-Boxer_puppy_fawn_portrai.jpg')"></div>
    <div class="hero-body">
        <div class="banner">
            <h1 class="title" sc-data="Title"><a href="http://www.houstonboxerrescue.org">Houston Boxer Rescue</a></h1>
            <h2 class="handle"><a href="/?q=&#64;hbr">&#64;hbr</a></h2>
        </div>
        <div class="mission" sc-data="Mission">
            Houston Boxer Rescue (HBR)  was born out of a deep love for the boxer breed and a desire to help end the suffering of boxers due to neglect, abuse, or abandonment. We dedicate ourselves to insuring that the dogs in our program get the second chance they deserve and never find themselves lost, alone, or abused, again.
        </div>
    </div>
</div>
