<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<body>
    <div class="content-center">
        <section id="registerForm">
            <hgroup>
                <h1>An error occurred</h1>
                @{
                    if (String.IsNullOrEmpty(ViewBag.errorMessage))
                    {
                        <h2 class="text-danger">An error occurred while processing your request.</h2>
                    }
                    else
                    {
                        <h2 class="text-danger">@ViewBag.errorMessage</h2>
                    }
                }
            </hgroup>
        </section>
    </div>
</body>
</html>
