<section id="thumbs" infinite-scroll='loadMore()' infinite-scroll-distance='4'>
    <div class="wrapper" ng-repeat="tile in tiles" tile-rendered>
        
        <article id="{{tile.id}}">
            <div class="caro">

                <div class="caro-page main selected">
                    <img class="thumb initializing" src="{{tile.img}}" />
                    <h2 class="title">
                        {{tile.title}}
                    </h2>
                </div>

                <div class="caro-page details">
                    <div ng-class="{content: tile.size < 4, 'content large': tile.size >= 4}">
                        <div class="update">
                            <p>
                                <a href="{{tile.sponsorHandle}}" target="_self">{{tile.sponsor}}</a><br />
                                <a href="" sc-search={{tile.sponsorHandle}}>Other Campaigns</a> by {{tile.sponsorHandle}}
                            </p>

                            <h4 class="date">
                                Deadline: <span ng-bind="tile.expires | date:'MM/dd/yyyy'"></span>
                            </h4>
                            <h4 class="goal">
                                Goal: <span ng-bind="tile.goal | currency"></span>
                            </h4>
                            {{tile.summary.value}}
                        </div>
                    </div>
                </div>

                <div class="caro-page images inline" ng-repeat="image in tile.images">
                    <img src="{{image.url}}" />
                </div>

                <div class="caro-page map" style="background: #8c99a3">

                </div>

                <div class="caro-page tags">
                    <div class="center">
                        <span ng-repeat="tag in tile.tags"><a href="" sc-search="{{tag}}">{{tag}}</a>&nbsp;</span>
                    </div>
                </div>
            </div>
        </article>

        <div id="toolbar_{{tile.id}}_bg" class="toolbar_bg"></div>
        <div id="toolbar_{{tile.id}}" class="toolbar">
            <a ng-if="loggedIn" id="donate_{{tile.id}}" ng-class="{'tool like': !tile.isLiked, 'tool like selected': tile.isLiked}" title="Love...">
                <i class="fa fa-heart"></i>
            </a>
            <a id="share_{{tile.id}}" class="tool share"
               title="Share..."
               href="#"
               ng-click="share(tile)">
                <i class="fa fa-share"></i>
            </a>
            <a id="donate_{{tile.id}}" class="tool donate" title="Give..." ng-click="donate(tile)">
                <i class="fa fa-usd"></i>
            </a>
            <div class="tool status">
                <i class="fa fa-clock-o status_label"></i> 3d
            </div>
        </div>
        <a href="#" ng-click='scrollRight(tile)'><div id="next_{{tile.id}}" class="caro-right"></div></a>
        <a href="#" ng-click='scrollLeft(tile)'><div id="prev_{{tile.id}}" class="caro-left"></div></a>
        <a href="" sc-search="{{tile.id}}" class="maximize" title="Maximize">
            <i class="max-icon">
                <svg viewBox="0 0 100 100">
                    <path d="M 10 10 L 90 10 L 90 90 M 90 10 L 10 90"/>
                </svg>
                <svg viewBox="0 0 100 100">
                    <path d="M 10 10 L 10 90 L 90 90 M 10 90 L 90 10" />
                </svg>
            </i>
        </a>
    </div>
    <div id="donate" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form method="POST" id="donate-form" enctype="application/x-www-form-urlencoded">
                <input type="hidden" id="chanceId" name="chanceId"/>
                <input type="hidden" id="goal" name="goal" />
                <input type="hidden" id="total" name="total" />
                <input type="hidden" id="type" name="type" />
                <input type="hidden" name="stripeToken" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title"><img id="emblem" src="/images/Logo-Hex-64.png" /><span>Make a Donation...</span></h2>
                </div>
                <div class="modal-body">
                    <span class="payment-errors"></span>
                    <h4>Current Status</h4>
                    <div class="form-row">
                        <h3 id="currentFunding"></h3>
                    </div>
                    <hr />
                    <h4>Donation</h4>
                    <div class="form-row" id="donationType">
                        <label for="donationType" class="stripeLabel">Donation Type</label>
                        <i data-toggle="popover" data-container="#donate .modal-body" data-trigger="click" data-html="true" data-placement="auto"
                           title="Donation Types" data-content="<strong>Adoption</strong><br/>You want to donate the full remaining adoption price, and adopt the animal.<hr/><strong>Donation</strong><br/>You want to make a donation to the animal that goes directly to the rescue, even if the animal is not adopted before the deadline.<hr/><strong>Refundable Donation</strong><br />You want to make a donation to the animal, but only if the animal ends up being adopted before the deadline.  Otherwise, you would like your donation to be refunded." class="fa fa-question-circle help-icon"></i>
                        <div id="donationType">
                            <select name="donationType" onchange="donationTypeChanged()" class="required">
                                <option value="0">Adoption</option>
                                <option value="1" selected>Donation</option>
                                <option value="2">Refundable Donation</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="name" class="stripeLabel">Donation Amount $</label>
                        <div id="donation">
                            <input type="number" name="amount" class="required" min="10" value="10" />
                        </div>
                    </div>
                    <hr />
                    <h4>Card Details</h4>

                    <div class="form-row">
                        <label>Card Number</label>
                        <input type="text" maxlength="20" autocomplete="off" class="card-number required" data-stripe="number" />
                    </div>

                    <div class="form-row">
                        <label>CVC & Expiration</label>
                        <div>
                            <input type="number" maxlength="4" autocomplete="off" class="card-cvc required" data-stripe="cvc" placeholder="CVC" />
                            <select class="card-expiry-month required" data-stripe="exp-month"></select>
                            <script type="text/javascript">
                                var select = $(".card-expiry-month"),
                                    month = new Date().getMonth() + 1;
                                for (var i = 1; i <= 12; i++) {
                                    select.append($("<option value='" + i + "' " + (month === i ? "selected" : "") + ">" + i + "</option>"))
                                }
                            </script>
                            <span> / </span>
                            <select class="card-expiry-year required" data-stripe="exp-year"></select>
                            <script type="text/javascript">
                                var select = $(".card-expiry-year"),
                                    year = new Date().getFullYear();
                                for (var i = 0; i < 12; i++) {
                                    select.append($("<option value='" + (i + year) + "' " + (i === 0 ? "selected" : "") + ">" + (i + year) + "</option>"))
                                }
                            </script>
                        </div>
                    </div>

                    <hr />
                    <h4>Personalize</h4>
                    <div class="form-row" id="email" style="display: none">
                        <label for="message">Email</label>
                        <input name="email" type="email" class="required" />
                    </div>
                    <div class="form-row">
                        <label><input type="checkbox" name="personalize" onchange="updatePersonalize()" checked/> Include a personal message?</label>
                    </div>
                    <div class="form-row">
                        <label for="message">Message</label>
                        <textarea name="message"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-danger fade in" style="display:none">
                        <a href="#" class="close" aria-label="close" onclick="hideSubmitSafety()">&times;</a>
                        <h3>Please Confirm Your Selection...</h3>
                        <p>Verify the information shown above is correct and click <em>Submit</em> again to process your payment, or close this alert to cancel.</p>
                    </div>
                    <div>
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-default" ng-click="submitDonate()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="donateResult" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title"><img id="emblem" src="/images/Logo-Hex-64.png" /><span>Payment Confirmation</span></h2>
            </div>
            <div class="modal-body">
                <div id="success">
                    <h2>Your payment has been processed successfully.<br />Thank you!</h2><br />
                    <h4>Please retain the confirmation number shown below for your records.</h4>
                    <hr />
                    <div>
                        <label>Amount Charged</label>
                        <span id="paymentAmount"></span>
                    </div>
                    <div>
                        <label>Confirmation</label>
                        <span id="paymentConfirmation"></span>
                    </div>
                </div>
                <div id="failure" style="display:none">
                    <h3>Your card was not charged.</h3>
                    <hr/>
                    <span class="payment-errors"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</section>
